<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="First class">
    <classes>    
        <class name="dd_tests.ValidateIMEI" ></class>          
    </classes>
</test>

 <test name="Second class">
    <classes>    
        <class name="dd_tests.InspectionPage" ></class>          
    </classes>
</test> 
</suite> 
